<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.front" android:required="true" />
    <uses-feature android:name="android.hardware.audio.output" android:required="true"/>
    <uses-feature android:name="android.hardware.microphone" android:required="true"/>
    <uses-feature android:name="android.hardware.audio.low_latency" android:required="true"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMD_Assignment_i230796">
        <meta-data
            android:name="io.agora.client.appId"
            android:value="YOUR_AGORA_APP_ID" />

        <service
            android:name=".IncomingCallService"
            android:enabled="true"
            android:exported="true">

        </service>

        <activity
            android:name=".outgoing_call"
            android:exported="false" />
        <activity
            android:name=".incoming_call"
            android:exported="false" />
        <activity
            android:name=".AddChoiceActivity"
            android:exported="false"
            android:theme="@style/Theme.SMD_Assignment_i230796" />
        <activity
            android:name=".AddChatActivity"
            android:exported="false" />
        <activity
            android:name=".post_preview"
            android:exported="false" />
        <activity
            android:name=".main_startup"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other activities -->
        <activity android:name=".SwitchAccountsActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".main_feed" />
        <activity android:name=".search_page" />
        <activity android:name=".dm_feed" />
        <activity android:name=".chat_screen" />
        <activity android:name=".you_notif" />
        <activity android:name=".following_notif" />
        <activity android:name=".your_profile_screen" />
        <activity android:name=".story_screen" />
        <activity android:name=".call_screen" />
        <activity android:name=".search_tab_internshala" />
        <activity android:name=".edit_profile_screen" />
        <activity android:name=".story_other" />
        <activity android:name=".add_to_story" />
        <activity android:name=".story_preview" />
        <activity android:name=".gursky_studio_story" />
        <activity android:name=".kyan_colman_profile" />
        <activity android:name=".post_picture_screen" />
        <activity android:name=".comment" />
        <activity android:name=".comment" />
        <activity android:name=".StoryViewerActivity" />
        <activity android:name=".StoryListActivity" />
        <activity
            android:name=".FollowRequestActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".add_post" />
        <activity android:name=".UserListActivity" />
    </application>

</manifest>